/* Whites */
#front-page #services .front-page-content {
  display: flex;
  gap: 2em;
  padding: 4em 1em;
}
@media (min-width: 600px) {
  #front-page #services .front-page-content {
    padding: 5em 2em;
    gap: 4em;
  }
}
#front-page #services .front-page-content h2 {
  text-align: center;
}
#front-page #services .front-page-content .service-cards-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 4em;
}
@media (min-width: 600px) {
  #front-page #services .front-page-content .service-cards-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 2em;
    row-gap: 4em;
  }
}
@media (min-width: 800px) {
  #front-page #services .front-page-content .service-cards-container {
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
  }
}
#front-page #services .front-page-content .service-cards-container .service-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4em 1em 1em 1em;
  border-radius: 20px;
  background-color: #FFEBE7;
  position: relative;
}
#front-page #services .front-page-content .service-cards-container .service-card h3 {
  text-align: center;
}
#front-page #services .front-page-content .service-cards-container .service-card .service-links {
  align-self: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}
#front-page #services .front-page-content .service-cards-container .service-card .icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  height: 2em;
  width: 2em;
  border-radius: 50%;
  position: absolute;
  top: -1em;
  margin: auto;
  left: 0;
  right: 0;
  border: 3px solid #fff;
  background-color: inherit;
}
#front-page #services .front-page-content .service-cards-container .service-card .icon-container .service-icon {
  color: #fff;
}
@media (min-width: 600px) and (max-width: 799px) {
  #front-page #services .front-page-content .service-cards-container .service-card:last-child {
    grid-column: 1/-1;
  }
}
