#front-page {
    #contact {
        .front-page-content {
            padding: 0 1em 2em 3em;

            article {
                text-align: center;
                align-self: center;
            }

        }
    }
}