#front-page {
    .section-more-info {
        .front-page-content {
            .text {
               
                margin: auto;
                h3 {
                    margin-top: 0;
                    text-align: center;
                }
            }
        }
    }
}