/* Whites */
.section-portfolio-nav .portfolio-content {
  display: flex;
}
.section-portfolio-nav .portfolio-content .portfolio-categories-nav {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 1em;
}
.section-portfolio-nav .portfolio-content .portfolio-categories-nav li a {
  padding: 0.5em;
  color: rgb(41, 39, 33);
  border-radius: 10px;
  background-color: rgb(214, 205, 183);
  text-decoration: none;
  box-shadow: rgba(25, 25, 25, 0.04) 0 0 1px 0, rgba(0, 0, 0, 0.1) 0 3px 4px 0;
}
.section-portfolio-nav .portfolio-content .portfolio-categories-nav li a.portfolio-item-active {
  color: #fff;
  background-color: darkgoldenrod;
}
.section-portfolio-nav .portfolio-content #category-btn-portfolio {
  display: none;
}
