@use './../globals/colors.scss' as c;
@use './../globals/variables.scss' as v;
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.8em 1em;
    text-decoration: none;
    background-color: c.$melon-color;
    border-radius: 50px;
    /* text-transform: uppercase; */
    font-size: 1rem;
    /* line-height: 1rem;
    height: 1.5rem */;
    letter-spacing: 1.5px;
    white-space: nowrap;
    font-weight: 400;
    color: #fff;
    border:none;
    outline: none;
    cursor: pointer;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    box-shadow: rgba(25, 25, 25, 0.04) 0 0 1px 0, rgba(0, 0, 0, 0.1) 0 3px 4px 0;

    &:hover {
        opacity: 0.8;
        text-decoration: none;
        color: #fff;
        box-shadow: v.$box-shadow-hover;
    }

    /* &.btn-bright {
        background-color: #fff; 

    } */
}

.btn-secondary {
    text-decoration: none;
    border-radius: 20px;
    padding:0.3em 0.8em;
    font-size: 1rem;
    color: #fff;
    background-color: c.$apricot-color;
    box-shadow: v.$box-shadow;

    &:hover {
        opacity: 0.8;
        text-decoration: none;
        box-shadow: v.$box-shadow-hover; 
    }
}