.footer {
   
    .footer-content {
        max-width: 1440px;
        margin-inline: auto;
        padding: 4em 2em;
        display: grid;
        grid-auto-rows: auto;
        grid-template-columns: repeat(1, 1fr);
      

        &__main {
            display: flex;
            gap: 1em;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            
            .social-media {
                .social-media-list {
                    margin-bottom: 1em;
                    list-style: none;
                    display: flex;
                    justify-content: center;
                    flex-direction: row;
                    gap: .5em;
                    &__item {
                        .social-media-link{
                            color: #000;
                            text-decoration: none;
                            

                            &__icon {
                                height: auto;
                                width: 25px;

                                &:hover {
                                    color: rgb(0, 106, 212);
                                }

                            }

                            &__name{

                            }

                        }
                    }
                }
            }
            
            .footer-nav {
                .footer-nav-list {
                    list-style: none;
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    gap: 0.5em;
                    &__item {
                        .nav-link {
                            color: #000;
                            text-decoration: none;
                        }
                    }
                    @media only screen and (min-width: 600px) {
                        flex-direction: row; 
                    }
                }

            }
            @media only screen and (min-width: 600px) {
                flex-direction: column; 
            }
        }
            
        

        &__footer {

            grid-column: 1/-1;

            .copy-right-text {

            }
        }

        /* @media only screen and (min-width: 600px) {
            grid-template-columns: repeat(2, 1fr);  
        } */

    }
}
