#portfolio-page .page-section .portfolio-content {
  padding: 1em 1em;
  /* @media (min-width: 900px) {
      padding:2em 2em;
  } */
}
@media (min-width: 600px) {
  #portfolio-page .page-section .portfolio-content {
    padding: 1em 2em;
  }
}
@media (min-width: 1440px) {
  #portfolio-page .page-section .portfolio-content {
    padding: 0;
  }
}0px) {
  #front-page .page-section .front-page-content {
    padding: 10em 0;
  }
}#fff;
  display: flex;
  min-height: 100%;
  flex-direction: column;
}
.site-wrapper .page-wrapper {
  flex: 1 0 auto;
}
.site-wrapper .page-wrapper .page-section .full-width {
  width: 100%;
  padding: 0;
}
.site-wrapper .page-wrapper .page-section .content {
  max-width: 1440px;
  margin-inline: auto;
  padding: 0;
}
@media (min-width: 1440px) {
  .site-wrapper .page-wrapper .page-section .content {
    padding: 0;
  }
}

.fade-in {
  transition: all 0.8s;
  opacity: 0;
  /*  transform: translateX(-40px); */
}
.fade-in.inview {
  opacity: 1;
  transform: none;
  transition-delay: 0.4s;
}