.breadcrumb-nav {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 0.5em;
  color: rgb(96, 96, 96);
}
.breadcrumb-nav .prevoius-location a {
  color: rgb(96, 96, 96);
  font-weight: 300;
}
.breadcrumb-nav .prevoius-location::after {
  content: "  /";
}
.breadcrumb-nav .current-location {
  font-weight: 400;
}