.services {
  display: grid;
  gap: 1em;
}
.services.web-services {
  grid-template-columns: repeat(1, 1fr);
}
@media (min-width: 800px) {
  .services.web-services {
    grid-template-columns: repeat(2, 1fr);
  }
}
.services.content-services {
  grid-template-columns: repeat(1, 1fr);
}
@media (min-width: 800px) {
  .services.content-services {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}
.services.content-services #content-services-copy-writing {
  grid-row: 1/-1;
}
.services.brand-services {
  grid-template-columns: repeat(1, 1fr);
}
@media (min-width: 800px) {
  .services.brand-services {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1200px) {
  .services.brand-services {
    grid-template-columns: repeat(4, 1fr);
  }
}
.services .service {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em;
  background-color: indianred;
}
.services .service .service-icon {
  font-size: 2em;
}
.services .service h3 {
  text-align: center;
}