$primary-font-color: #141414;
$secondary-font-color: #333333;

$primary-background-color: #f5f5f5;
$secondary-background-color: #fff;
$tritary-background-color: #d2b6a9;

$apricot-color: #ffc5ab;
$melon-color: #FFC0BE;
$misty-rose: #FFEBE7;

/* Whites */

$white-1: #fff;
$white-2: #fff6f4;
$white-3: #ffefeb;
