@use './../globals/colors.scss' as c;
@use './../globals/variables.scss' as v;
@use './../globals/typography.scss' as t;

#about-page {

    .page-section {
        .content {
            .text {
                align-self: center;
            }
        }

        &#about-page-quote {
            .content {

                .quote-container {
                    align-self: center;
                    display: flex;
                    flex-direction: column;
                    .quote-icon {
                        font-size: 4rem;
                        text-align: center;
                        color: c.$apricot-color;

                        &:last-child {
                            display: none;
                        }

                    }
                    .text {
                        .quote-text {
                            text-align: center;
                            font-size:1.8rem;
                            font-family: t.$secondary-font;
                        }
                    }
                }
            }
        }

        &#core-values-section {
        
            .content {
                flex-direction: column;
           
                #core-values {
                    display: grid;
                    gap:1em;
                    grid-template-columns: repeat(1, 1fr);
                
                    @media (min-width: 800px) {
                        grid-template-columns: repeat(2, 1fr);
                        gap:2em;
                    }
    
                    @media (min-width: 1200px) {
                        grid-template-columns: repeat(4, 1fr);
                    }
                    .core-value{
                        align-self:auto;

                        .core-value-icon {
                            font-size: 4rem;
                            text-align: center;
                            color: c.$apricot-color;
                        }
    
                        h3 {
                            text-align: left;
                            font-size: 1.2rem;
                        }
                    }
                }
            }
        }

        &#vision-section {
            .content {
                .text {
                    padding:2em 1em;
                    background-color: c.$apricot-color;
                    text-align: center;
                    border-radius: v.$border-radius;
                    box-shadow: v.$box-shadow;
                    h2 {
                        margin-top:0;
                        font-size: 2rem;
                        margin-bottom: 1rem;
                    }
                    p {
                        font-size:1.8rem;
                        font-family: t.$secondary-font;
                    }
                }
            }
        }
    }
    
}