/* Whites */
#service-page .section-service-criterias .service-content {
  background-color: #f5f5f5;
  padding: 0;
  display: grid;
  gap: 0;
}
@media (min-width: 700px) {
  #service-page .section-service-criterias .service-content {
    grid-template-columns: repeat(2, 1fr);
  }
}
#service-page .section-service-criterias .service-content article {
  padding: 2em 1em;
}
