#service-page .section-service-process .service-content h2 {
  text-align: center;
  margin-bottom: 2em;
}
#service-page .section-service-process .service-content .process {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1em;
  align-items: stretch;
}
@media (min-width: 700px) {
  #service-page .section-service-process .service-content .process {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1200px) {
  #service-page .section-service-process .service-content .process {
    grid-template-columns: repeat(3, 1fr);
  }
}
#service-page .section-service-process .service-content .process .process-item {
  height: 100%;
}
#service-page .section-service-process .service-content .process .process-item h3 {
  text-align: center;
}
